<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ciclisti</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/4217420dea.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/mystyle.css">	
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbarcc">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">UniBike</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Ciclisti</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="bici.html">Bici</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div id="main">
    	<h1 class="text" th:text="${ciclista.nome} + ' ' + ${ciclista.cognome}">Nome Cognome</h1>
    </div>
    
    <h2 class="textBday">Nato il: <span th:text="${ciclista.nascita}">04/08/2000</span></h2>

    
    <h2 class="text1">Disciplina</h2>
    <div class="formCard">
		<form>
			<div class="form-group hidden">
		   		<label for=""></label>
		    	<input type="hidden" class="form-control input_form" id="form_ID" aria-describedby="" placeholder="">
	  		</div>
	  		<div class="form-group">
	    		<select class="form-control input_form">
	    			<option>STRADISTA</option>
	    			<option>RIDER</option>
	    			<option>VIAGGIATORE</option>
	    		</select>
	  		</div>
	  		<button type="submit" class="btn btn-primary submitDisc"><b>Submit</b></button>
		</form>
	</div>

    <h2 class="text1">Sfide <a type="button" class="btn btn-primary noFog" href="nuovaSfida.html"><b>+</b></a></h2>
	<div class= "scrollable" th:each="sfidante: ${ciclista.sfida}">
		<span class="child-s1"><a class="card btnHome" th:text="${sfidante.nome} + ' ' + ${sfidante.cognome}">Nome Cognome</a></span>
		<span class="child-s2"><a class="card btnHomeRemove remove" href="/eliminaSfidante/1/2"><i class="fa-solid fa-trash"></i></a></span>
	</div>
	
	<h2 class="text1">Percorsi <a type="button" class="btn btn-primary noFog" href="nuovoPercorso.html"><b>+</b></a></h2>
	<div class= "scrollable" th:each="percorso: ${ciclista.percorso}">
		<div class="child-s3"><a class="card btnHome" href="https://example.com/" th:text="${percorso.partenza} + ' - ' + ${percorso.arrivo}">Nome Cognome</a></div>
		<div class="child-s4"><a class="card btnHomeRemove change" href="modificaPercorso.html"><i class="fa-solid fa-pen-to-square"></i></a></div>
		<div class="child-s4"><a class="card btnHomeRemove remove" href="https://example.com/"><i class="fa-solid fa-trash"></i></a></div>
	</div>		
		
	<h2 class="text1">Bici <a type="button" class="btn btn-primary noFog" href="associaBici.html"><b>+</b></a></h2>
	<div class= "scrollable">
		<div class="child-s1"><a class="card btnHome" href="https://example.com/" th:each="ciclista: ${ciclisti}" th:text="${ciclista.nome} + ' ' + ${ciclista.cognome}">Nome Cognome</a></div>
		<div class="child-s2"><a class="card btnHomeRemove remove" href="https://example.com/"><i class="fa-solid fa-trash"></i></a></div>	
	</div>
</body>
</html>