<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ciclisti</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="mystyle.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbarcc">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">UniBike</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Ciclisti</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bici">Bici</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div id="main">
    	<h1 class="text">Ciclisti</h1>
    	<a type="button" class="btn btn-primary bott" href="/ciclista/nuovoCiclista">Nuovo</a>
    	<a type="button" class="btn btn-primary bott" href="">Cerca percorso</a>
    </div>
    
	<div class= "scrollable">
		<a class="card btnHome" th:href="@{/ciclista/{id}(id = ${ciclista.id})}" th:each="ciclista: ${ciclisti}" th:text="${ciclista.nome} + ' ' + ${ciclista.cognome} + ' (' + ${ciclista.nascita} + ')'">Nome Cognome</a>
	</div>
	
</body>
</html>