<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Nuovo Percorso</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="/mystyle.css">
	
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbarcc">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">UniBike</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Ciclisti</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bici">Bici</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/ricercaPercorso}">Cerca percorso</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/gestioneCitta}">Gestione citta</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	<div id="main">
    	<h1 class="text" th:text="${ciclista.nome} +' '+ ${ciclista.cognome}">Nome Cognome</h1>
    </div>
    
    <h2 class="textSottoTit">Modifica percorso:</h2>
	
	<div class="formModPercCard">
		<form class="float elForm" th:action="@{/modificaPercorso/{id}(id = ${idVecchioPerc})}" method="POST">
			<input type="hidden" name="ciclista" th:value="${ciclista.id}">
			<label class="text1Form">Data: </label>
			<br>
			<input name="data" type="date" class="form-control date elForm" th:value="${vecchioPerc.data}" min="1900-01-01" max="2100-12-31" th:required="required">
			
			<label class="text1Form">Lunghezza:</label>
			<br>
			<input name="km" type="number" class="form-control elForm" th:value="${vecchioPerc.km}" placeholder="Km" th:required="required" min="0">
			
			<label class="text1Form">Dislivello:</label>
			<br>
			<input name="dislivello" type="number" class="form-control elForm" th:value="${vecchioPerc.dislivello}" placeholder="m" th:required="required" min="0">
			
			<label class="text1Form">Partenza: </label>
			<br>
			<select name="partenza" class="form-control input_form" th:required="required">
				<option th:each="c: ${citta}" th:value="${c.id}" th:text="${c.nome} + ' ' + '(' + ${c.regione} + ')'" th:selected="${vecchioPerc.checkSelect(c.id, vecchioPerc.partenza.getId())}">Partenza</option>
			</select>
			
			<label class="text1Form">Arrivo:</label>
			<br>
			<select name="arrivo" class="form-control input_form" th:required="required">
				<option th:each="c: ${citta}" th:value="${c.id}" th:text="${c.nome} + ' ' + '(' + ${c.regione} + ')'" th:selected="${vecchioPerc.checkSelect(c.id, vecchioPerc.arrivo.getId())}">Arrivo</option>
			</select>
			 
			<label class="text1Form">Ora partenza:</label>
			<br>
			<input  step="1" name="ora_p" type="time" class="form-control elForm" th:value="${vecchioPerc.ora_p}" placeholder="Ora di partenza" th:required="required">
			
			<label class="text1Form">Ora arrivo:</label>
			<br>
			<input step="1" name="ora_a" type="time" class="form-control elForm" th:value="${vecchioPerc.ora_a}" placeholder="Ora di arrivo" th:required="required">
			
			<br>
			<button type="submit" class="btn btn-primary submit">Modifica</button>
		</form>
	</div>
	
	
	
</body>
</html>